Repository HYF-Class22/home, pull requests merged in 2024-02, with the labels that each got.

#56 add A0shrafpoless bio
  student-bios/Ashrafpoless.md
Labels: student-bio, markdown

#73 Ashraf poless :workflow : studentbio
  student-bios/ashrafPoless.md
  student-bios/img/ashraf.jpg
Labels: md

#77 filling my student bio
  student-bios/img/younes.jpg
  student-bios/younes8888.md
Labels: deliverable, individual, week-1

#79 add file rugiraprince md
  .cspell.json
  student-bios/img/rugiraprince.png
  student-bios/rugiraprince.md
Labels: deliverable

#65 add lishanBio
  student-bios/Lishan6.md
  student-bios/img/Lishu.jpg
Labels: student-bio

#84 Add Etefa Bio
  student-bios/edinssa
  student-bios/img/etefa.jpeg
Labels: student-bio

#71 add betulBio
  student-bios/betulaydinturkk.md
  student-bios/img/Photo.jpeg
  student-bios/img/my newfoto.jfif
Labels: student-bio

#81 add tesfay20Md
  student-bios/img/Tesfay.jpg
  student-bios/img/tesfay20.md
Labels: md
